{% extends "layout.twig" %}

{% block content %}
    <h1 id="header">
        My contacts
    </h1>
    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Organization</th>
        </tr>


    {% for contact in contacts %}
        <tr>
            <td>
                {{ contact.getDisplayName }}
            </td>
            <td>
                {{ contact.getOrganization }}
            </td>
            <td>
                <img src="{{ contact.getImage }}" alt="{{ contact.getDisplayName }}" class="img-thumbnail">
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

