{% extends "layout.twig" %}

{% block content %}
    <div class="starter-template">
    <a href="{{ app.url_generator.generate('login') }}" class="btn btn-info btn-lg" id="loginButton">
        Login with XING account!
    </a>
    </div>
{% endblock %}
